openapi: 3.0.1
info:
  title: Space-Track.org REST Authentication Satellite Catalog API
  description: Space-Track.org is the official US Space Command (USSPACECOM) source for space situational awareness data. The REST API provides access to the satellite catalog (SATCAT), orbital element sets (GP/TLEs), conjunction data messages (CDMs), decay predictions (TIP), and space object history. Requires a free account. Authenticate via POST to /ajaxauth/login then use session cookies for subsequent requests.
  version: '1.0'
  contact:
    name: US Space Command / 18th Space Defense Squadron
    url: https://www.space-track.org
servers:
- url: https://www.space-track.org
security:
- sessionCookie: []
tags:
- name: Satellite Catalog
  description: Satellite catalog metadata
paths:
  /basicspacedata/query/class/satcat/format/{format}:
    get:
      tags:
      - Satellite Catalog
      operationId: listSatCat
      summary: Query Satellite Catalog (SATCAT)
      description: Returns satellite catalog information including object metadata, launch dates, countries of origin, and object classification.
      parameters:
      - name: format
        in: path
        required: true
        schema:
          type: string
          enum:
          - json
          - xml
          - csv
          default: json
      - name: NORAD_CAT_ID
        in: query
        description: NORAD catalog number
        schema:
          type: string
      - name: INTLDES
        in: query
        description: International designator (e.g., 1998-067A for ISS)
        schema:
          type: string
      - name: OBJECT_NAME
        in: query
        description: Object name (supports wildcard ~~)
        schema:
          type: string
      - name: OBJECT_TYPE
        in: query
        description: Type filter (PAYLOAD, ROCKET BODY, DEBRIS, UNKNOWN)
        schema:
          type: string
          enum:
          - PAYLOAD
          - ROCKET BODY
          - DEBRIS
          - UNKNOWN
      - name: COUNTRY_CODE
        in: query
        description: Country code filter
        schema:
          type: string
      - name: LAUNCH_DATE
        in: query
        description: Launch date filter
        schema:
          type: string
      - name: DECAY_DATE
        in: query
        description: Decay date (use null-val for active objects)
        schema:
          type: string
      - name: orderby
        in: query
        schema:
          type: string
      - name: limit
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: Satellite catalog entries
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SatCatEntry'
        '401':
          description: Unauthorized
  /basicspacedata/query/class/boxscore/format/{format}:
    get:
      tags:
      - Satellite Catalog
      operationId: getBoxscore
      summary: Get Space Object Counts by Country (Boxscore)
      description: Returns a count of tracked space objects by country and object type.
      parameters:
      - name: format
        in: path
        required: true
        schema:
          type: string
          enum:
          - json
          - xml
          - csv
          default: json
      responses:
        '200':
          description: Object counts by country
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        '401':
          description: Unauthorized
components:
  schemas:
    SatCatEntry:
      type: object
      description: Satellite catalog entry
      properties:
        NORAD_CAT_ID:
          type: integer
        INTLDES:
          type: string
          description: International designator (e.g., 1998-067A)
        OBJECT_NAME:
          type: string
        OBJECT_TYPE:
          type: string
          enum:
          - PAYLOAD
          - ROCKET BODY
          - DEBRIS
          - UNKNOWN
        COUNTRY_CODE:
          type: string
          description: ISO 3-letter country code
        LAUNCH_DATE:
          type: string
          format: date
        SITE:
          type: string
          description: Launch site
        DECAY_DATE:
          type: string
          format: date
          nullable: true
        RCSVALUE:
          type: integer
          description: Radar cross section value (1=Small, 2=Medium, 3=Large)
        COMMENT:
          type: string
          nullable: true
        CCSDS_OMM_VERS:
          type: string
  securitySchemes:
    sessionCookie:
      type: apiKey
      in: cookie
      name: chocolatechip
      description: Session cookie obtained after successful login via POST /ajaxauth/login
